body, html {
  background-color: red;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  background: #3b657f url('line2.png') no-repeat center center fixed;
}
.background {
  color: white;
  margin: auto;
  width: 65%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 60px 30px 60px;
}
.name {
  float: left;
}
.menu {
  float: right;
  margin: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.notLast {
  margin-right: 40px;
}
i.fa {
  padding: 25px 8px;
  color: #FFF;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}
i.fa:hover {
  color: #00CBA7;
}
.content {
  text-align: center;
  margin: 60px 0 0 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
p {
  margin: 0 50px 0 50px;
}
@media (max-width: 950px) {
  .background {
    width: 80%;
  }
}
@media (max-width: 800px) {
  h1, .content {
    margin-top: 20px;
  }
  .name {
    float: none;
    text-align: center;
  }
  .menu {
    text-align: center;
    float: none;
    padding: 15 0 0 0;
  }
}
.menuIcon {
  display: none;
}
i.fa {
  color: #FFF;
}
@media only screen and (max-width: 600px) {
  .menu {
    padding: 0 0 0 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    transition: max-height 0.2s;
  }
  .menu.menuOpen {
    max-height: 150px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .menu li {
    display: block;
  }
  .notlast {
    margin: 0;
  }
  .menuIcon {
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
  }
  .rotate {
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.4s linear;
  }
  .rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
